# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

#editor dependencies
*.vscode

# Executables
*.exe
*.out
*.app

# Project
*.swp
*.txt
*.cursorrules

# App Store
.DS_Store

# Output binary
output

# Folders
db/
